<div class="m-2 p-2 bg-film rounded mb-5 small">
    使用している画像・その他の知的財産は株式会社コロプラに帰属します。<br>
    本ウェブサイト・ツールは非公式であり、株式会社コロプラとは関係がありません。
</div>

<div class="container-fluid bg-light position-fixed w-100 bottom-0 bottom-menu" style="z-index:9;">

    <div class="row text-center">
        <button type="button" id="pg-scroll-top" class="col-6 btn btn-secondary rounded-0 h-100 pt-2 pg-scroll bg-wiz bg-gradient border-wiz">
            <i class="bi bi-caret-up-fill"></i>
        </button>
        <button type="button" id="pg-scroll-bottom" class="col-6 btn btn-secondary rounded-0 h-100 pt-2 pg-scroll bg-wiz bg-gradient border-wiz">
            <i class="bi bi-caret-down-fill"></i>
        </button>
    </div>
</div>

<script src="../js/pg-scroll.js"></script>
